<!--

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>OAuth Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>

    <h1>Simulated login with delay</h1>
    <script>
      setTimeout(function () {
        window.location.href = "<%= redirectURISuccess %>"
      }, 2000);
    </script>

  </body>
</html>
